.poli_left_top{
	width:200px;
	height:200px;
	position:absolute;
	margin-top:-9em;
	margin-left:0em;
	z-index:-21;
	display:none;
}

.kvito4ka{
	width:55px;
	height:55px;
	position:absolute;
	margin-top:14.5em;
	margin-left:10.5em;
	z-index:-22;
	display:block;
	background:transparent url(../img/poligraphy/kvito4ka.png) no-repeat 0 0;
}

.last{
	width:200px;
	height:200px;
	position:absolute;
	margin-top:-9em;
	margin-left:0em;
	z-index:-24;
	display:none;
	background:transparent url(../img/poligraphy/left_top_last.png) no-repeat 0 0;
}

.poli_left_poloski{
	width:200px;
	height:200px;
	position:absolute;
	margin-top:25em;
	margin-left:0em;
	z-index:-21;
	display:none;
	background:transparent url(../img/poligraphy/left_bottom_poloski.png) no-repeat 0 0;
}

.poli_left_obruch{
	width:125px;
	height:125px;
	position:absolute;
	margin-top:15em;
	margin-left:10em;
	z-index:-20;
	display:none;
	background:transparent url(../img/poligraphy/left_bottom_obruch.png) no-repeat 0 0;
}

.poli_left_bottom{
	width:200px;
	height:200px;
	position:absolute;
	margin-top:25em;
	margin-left:0em;
	z-index:-19;
	display:none;
}

.poli_right_top{
	width:250px;
	height:250px;
	position:absolute;
	margin-top:-8em;
	margin-left:42em;
	z-index:-21;
	display:none;
}

.poli_right_etc{
	width:250px;
	height:250px;
	position:absolute;
	margin-top:-8em;
	margin-left:42em;
	z-index:-21;
	display:none;
	background:transparent url(../img/poligraphy/right_top_etc.png) no-repeat 0 0;
}

.poli_right_bottom_poloski{
	width:250px;
	height:400px;
	position:absolute;
	margin-top:10em;
	margin-left:30em;
	z-index:-21;
	display:block;
	background:transparent url(../img/poligraphy/right_bottom_poloski.png) no-repeat 0 0;
}

.poli_right_bottom{
	width:250px;
	height:250px;
	position:absolute;
	margin-top:10em;
	margin-left:43em;
	z-index:-21;
	display:none;
}

.poli_right_bottom_kvitka{
	width:60px;
	height:60px;
	position:absolute;
	margin-top:10em;
	margin-left:23em;
	z-index:-18;
	display:none;
	background:transparent url(../img/poligraphy/right_bottom_kvitka.png) no-repeat 0 0;
}

.back_poli{
	position:absolute;
	display:none;
	width:100px;
	height:80px;
	background:transparent url(../img/web/back_web.png) no-repeat 0 0;
	margin-top:-6.1em;
	margin-left:3.8em;
	z-index:2000;
}

.back_poli:hover{
	cursor:pointer;
}
	
.next_poli{
	position:absolute;
	display:none;
	width:100px;
	height:80px;
	background:transparent url(../img/web/next_web.png) no-repeat 0 0;
	margin-top:-6.4em;
	margin-left:48.5em;
	z-index:2000;
}

.next_poli:hover{
	cursor:pointer;
}